# Config for KataGo C++ GTP engine, i.e. "./katago.exe gtp"

# In this config, when a parameter is given as a commented out value,
# that value also is the default value, unless described otherwise. You can
# uncomment it (remove the pound sign) and change it if you want.

# ===========================================================================
# Command-line usage
# ===========================================================================
# All of the below values may be set or overridden via command-line arguments:
#
# -override-config KEY=VALUE,KEY=VALUE,...

# ===========================================================================
# Logs and files
# ===========================================================================

logDir = /root/katago/gtp_logs
# logDirDated = gtp_logs
# logFile = gtp.log

logAllGTPCommunication = true
logSearchInfo = true
logSearchInfoForChosenMove = false
logToStderr = true

startupPrintMessageToStderr = true

ogsChatToStderr = true

# homeDataDir = PATH_TO_DIRECTORY

# ===========================================================================
# Analysis
# ===========================================================================
# analysisPVLen = 15
# reportAnalysisWinratesAs = SIDETOMOVE

analysisWideRootNoise = 0.04

# analysisIgnorePreRootHistory = true

# ===========================================================================
# Rules
# ===========================================================================

koRule = SIMPLE  # options: SIMPLE, POSITIONAL, SITUATIONAL

scoringRule = TERRITORY  # options: AREA, TERRITORY

taxRule = SEKI  # options: NONE, SEKI, ALL

multiStoneSuicideLegal = false

hasButton = false

whiteHandicapBonus = 0  # options: 0, N, N-1

friendlyPassOk = false

# ===========================================================================
# Bot behavior
# ===========================================================================

# ------------------------------
# Resignation
# ------------------------------

allowResignation = true
resignThreshold = -0.98
resignConsecTurns = 3

# resignMinScoreDifference = 10

# ------------------------------
# Handicap
# ------------------------------

# assumeMultipleStartingBlackMovesAreHandicap = true

dynamicPlayoutDoublingAdvantageCapPerOppLead = 0.06

playoutDoublingAdvantage = 0.2

# playoutDoublingAdvantagePla = BLACK
# playoutDoublingAdvantagePla = WHITE

# ------------------------------
# Passing and cleanup
# ------------------------------
# conservativePass = true
# preventCleanupPhase = true

# ------------------------------
# Miscellaneous behavior
# ------------------------------
# rootSymmetryPruning = true

avoidMYTDaggerHack = true

# avoidRepeatedPatternUtility = 0.0
# antiMirror = true
# enablePassingHacks = true


# ===========================================================================
# Search limits
# ===========================================================================

maxVisits = 500
maxPlayouts = 3000000
# maxTime = 10.0

ponderingEnabled = true
# maxTimePondering = 60.0

lagBuffer = 0

numSearchThreads = 512

searchFactorAfterOnePass = 0.50
searchFactorAfterTwoPass = 0.25

searchFactorWhenWinning = 0.40
searchFactorWhenWinningThreshold = 0.95

# ===========================================================================
# GPU settings
# ===========================================================================

nnMaxBatchSize = 256

nnCacheSizePowerOfTwo = 23

nnMutexPoolSizePowerOfTwo = 19

numNNServerThreadsPerModel = 8

trtDeviceToUseThread0 = 0
trtDeviceToUseThread1 = 1
trtDeviceToUseThread2 = 2
trtDeviceToUseThread3 = 3
trtDeviceToUseThread4 = 4
trtDeviceToUseThread5 = 5
trtDeviceToUseThread6 = 6
trtDeviceToUseThread7 = 7

modelFile = /root/katago/model.bin.gz

keepalive = true

# ===========================================================================
# Root move selection and biases
# ===========================================================================

# searchRandSeed = hijklmn
# chosenMoveTemperatureEarly = 0.5
# chosenMoveTemperatureHalflife = 19
# chosenMoveTemperature = 0.10
# chosenMoveSubtract = 0
# chosenMovePrune = 1
# rootNumSymmetriesToSample = 1
# useLcbForSelection = true
# lcbStdevs = 5.0
# minVisitPropForLCB = 0.15

# ===========================================================================
# Internal params
# ===========================================================================

# winLossUtilityFactor = 1.0
# staticScoreUtilityFactor = 0.10
# dynamicScoreUtilityFactor = 0.30
# dynamicScoreCenterZeroWeight = 0.20
# dynamicScoreCenterScale = 0.75
# noResultUtilityForWhite = 0.0
# drawEquivalentWinsForWhite = 0.5
# cpuctExploration = 1.0
# cpuctExplorationLog = 0.45
# cpuctUtilityStdevPrior = 0.40
# cpuctUtilityStdevPriorWeight = 2.0
# cpuctUtilityStdevScale = 0.85
# fpuReductionMax = 0.2
# rootFpuReductionMax = 0.1
# fpuParentWeightByVisitedPolicy = true
# useUncertainty = true
# uncertaintyExponent = 1.0
# uncertaintyCoeff = 0.25
# rootPolicyOptimism = 0.2
# policyOptimism = 1.0
# valueWeightExponent = 0.25
# rootEndingBonusPoints = 0.5
# rootPruneUselessMoves = true
# subtreeValueBiasFactor = 0.45
# subtreeValueBiasWeightExponent = 0.85

useGraphSearch = true

# nodeTableShardsPowerOfTwo = 16
# numVirtualLossesPerThread = 1
# useNoisePruning = true

# ===========================================================================
# Avoid SGF patterns
# ===========================================================================

# avoidSgfPatternDirs = path/to/directory/with/sgfs/
# avoidSgfPatternUtility = 0.001
# avoidSgfPatternMaxFiles = 20
# avoidSgfPatternLambda = 0.90
# avoidSgfPatternAllowedNames = my-ogs-bot-name1,my-ogs-bot-name2
# avoidSgfPatternMinTurnNumber = 0

defaultBoardSize = 19
